.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

label {
  display: inline-block;
}

p {
  margin:0
}

select {
  font-size: .75em;
}

.container {
  width: 100%;
}

#tableform {
  text-align:center;
}

#newperiodform {
  text-align:center;
}

#newcreditcardform {
  text-align: center;
}

#userAccess {
  text-align: left;
}

#signtitle {
  font-size: 1.75em;
  text-align: center;
}

#userLabel {
  font-size: 1.25em;
  padding-right: 5px;
  text-align: left;
}
